@import "tailwindcss";

@theme {
    --color-purity-blue-100: #008CFF;
    --color-purity-blue-200: #0A7AFF;
    --color-purity-black-100: #000000;
    --color-purity-white-100: #FAF9F6;

    --font-inter: "Inter";
}