@import "tailwindcss";

@theme {
  --color-purity-blue-100: #008cff;
  --color-purity-blue-200: #0a7aff;
  --color-purity-black-100: #000000;
  --color-purity-white-100: #faf9f6;

  --font-inter: "Inter";
}
